.profile {
  padding: 20px;
}

.avatar img {
  width: 100px;
}

.name {
  color: white;
}

.social {
  padding-left: 10px;
}

.itemProfile {
  display: flex;
}

.formError {
  border: 2px red solid;
  padding: 5px;
  color: red;
}
